/* Colors */
:root {
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green: hsl(154, 59%, 51%);
    --color-accent-blue: hsl(248, 32%, 49%);
    --color-neutral-dark-blue: hsl(249, 10%, 26%);
    --color-neutral-grayish-blue: hsl(246, 25%, 77%);
    --color-white: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0px;
    /* display: flex; */

    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-red);

    background-image: url(../images/bg-intro-desktop.png);

    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    /* Include the appropriate font-weight declarations if needed */
    min-height: 100vh;
    max-width: 800px;
 
     
   
}
 
 

main {
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.textside {
    width: 50%;
    height: 50%;
    padding: 12px;
    text-align: center;
}

.textside h3 {
    color: white;
    font-size: 16px;
    padding: 8px;

}


.learn-Text {
    color: white;
    font-size: 40px;

}

/* --------------register side--------------------------- */
.register-side {

    width: 50%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
}


.registerbox {
    background-color: white;
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    gap: 12px;
}


.tryitfree {
    background-color: var(--color-accent-blue);
    border-radius: 12px;
    text-align: center;
    margin: 3px;
    padding: 12px;
    color: white;
    font-size: 12px;
    font-weight: bold;

}

.registerbox input {
    padding: 12px;

}

.titlespan {
    color: var(--color-neutral-grayish-blue);
    font-size: 10px;
}

button {
    background-color: var(--color-primary-green);
    padding: 10px;
    color: var(--color-white);
    font-size: 12px;
}

.reg_agreement {
    color: #cfcdd9;
    font-size: 10px;
}

.terms-color {
    padding: 10px;
    color: var(--color-primary-red);
    font-size: 12px;
}

/* -------------footer -------------- */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 12px;
}

.attribution a {
    color: var(--color-accent-blue);
}


/* -----responsive ------------------ */
@media(max-width:375px) {

    main {

        flex-direction: column;

    }

    body {
        flex-direction: column;

        background-image: url(../images/bg-intro-mobile.png);
        min-height: 100vh;
      
        /* Include the appropriate font-weight declarations if needed */

    }


    .textside {
        width: 70vh;
        height: 100%;
        padding: 20px;


    }

    .learn-Text {
        color: white;
        font-size: 36px;

    }

    .textdtl h3 {
        font-size: 10px;
        text-align: center;

    }

    .register-side {

        width: 70vh;
        /* height: 100%; */
        
        padding: 10px;
        background-color: blue;
    }

    .registerbox input {
        padding: 10px;
        color: var(--color-neutral-grayish-blue);

    }

    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 4px;
    }

    .reg_agreement {
        color: #cfcdd9;
        font-size: 8px;
        padding-left: 4px;
    }

    .terms-color {
        padding: 10px;
        color: var(--color-primary-red);
        font-size: 9px;
    }



}